@model Vidly.ViewModels.MovieRandomViewModel
@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h3 class="@className">@Model.Movie.Name</h3>

@if (Model.Customers.Count == 0)
{
    
    <text>No one has rented this movie before.</text>
}
else
{
    @foreach (var customer in Model.Customers)

    {
        <p>@customer.Name</p>
    }
}



